@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --bgColour: #111;
  --fgColour: #222;
  --sdColour: #00000099;
  --txtColour: #ffffff99;
  --hlColour: #7777ff;
}

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  overflow: hidden;

  p {
    margin: 0;
  }

  body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--bgColour);
    color: var(--txtColour);
  }

  i {
    padding-left: 5px;
    padding-right: 5px;
  }

  input {
    outline: none;
    background-color: transparent;
    border: 1px solid var(--fgColour);
    border-radius: 10px;
    padding: 1%;
    color: var(--txtColour);
  }

  main {
    padding: 10px;
  }

  nav {
    height: 45px;
    background: var(--fgColour);
    box-shadow: 0 0 10px black;
    padding: 5px;
  }

  a {
    transition: all 0.2s ease-in-out;
    color: var(--txtColour);
    text-decoration: none;
    user-select: none; /* For modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
  }
  a:hover {
    color: var(--hlColour);
    cursor: pointer;
  }
}